.page-node-6386 .paragraphs-items-field-paragraph-full {
  display:none;
  }
  
  
  /**Removing unwanted theme elements**/
  #footer, .group-header, #search-link, #messages, #mobile-search-link, #page-title {
      display:none!important;
  }
  
  body {
      padding:0px!important;
  }
  
  .pine #page-wrapper.container-fluid {
      padding:0!important;
  }
  
  #content, div.content {
      margin:0;
      padding:0;
  }
  
  .paragraphs-items {
      margin:0px!important;
  }
  
  .paragraphs-items .field-item .paragraphs-item-paragraph-1-col .field-item {
      background:none;
      color:#fff;
  }
  
  /**Menu Override**/
  #main-menu {
      position: fixed;
      bottom: 0px;
      left: 0px;
      background: #232323;
      width: 100%;
      z-index:999;
  }
  
  .pine #main-menu .menu, .pine #main-menu .nice-menu {
      width: 808px;
      margin: 0 auto;
  }
  
  .pine #main-menu .menu li a, .pine #main-menu .nice-menu > li > a {
      color:#fff;
      text-transform:none;
  }
  
  .pine #main-menu .menu li a, .pine #main-menu .nice-menu > li > a.active, .page-node-6386 .menu-6976 a {
      border-bottom:2px solid #d73f09!important;
  }
  
  /**Site title override**/
  #full-top {
      color: #fff;
      background: #000;
      margin: 0;
      top: 0;
      padding: 5px 2%;
  }
      
  /**Content Layout and Custom Styles**/
  
  span.black {
      color:#000;
      background:none;
  }
  
  .black {
      background:#000;
      color:#fff;
  }
  
  span.orange {
      color:#d73f09;
      background:none;
  }
  
  .orange {
      background:#d73f09;
      color:#fff;
  }
  
  .orange h3::after { 
      background: #fff;
  }
  
  .pad {
      padding:30px;
  }
  
  .max {
      max-width:700px;
      margin:0 auto;
      margin-left:auto!important;
  }
  
  .scroll {
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 50%;
  }
  
  .scroll span {
      position: absolute;
      top: 0;
      left: -50px;
  }
  
  hr {
      border-top:1px solid #d73f09;
      border-bottom:1px solid #d73f09;
  }
  
  h3 {
      font-size:40px!important;
      line-height:1!important;
      position:relative;
      margin:0 0 20px 0!important;
      padding:0 0 20px 0!important;
      background:none!important;
  }
  
  
  h3::after { 
      content: "";
      background: #d73f09;
      height: 5px;
      width: 70px;
      position: absolute;
      bottom: 0;
      left: 0;
  }
  
  h4 {
      color:#d73f09!important;
  }
  
  #cover {
    height:calc(100vh - 162px);
      width: 100%;
      overflow: hidden;
      position: relative;
  }
  
  #cover video {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index:-50;
  }
  
  .overlay { 
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
      z-index:-25;
    background-image: url(/files/dots-overlay.png);
  }
  
  
  #cover h3 {
      max-width: 700px;
      text-transform: uppercase;
      padding-top: 100px!important;
      padding-left: 20px!important;
      color: #fff;
      margin:0px;
  }
  
  #cover h3::after { 
      left: 20px;
  }
  
  #mountain {
    background: url(/files/mountains.jpg);
    background-size: cover;
    background-position: center center;
  }
  
  #arts {
      background: url(/files/painting.jpg);
      background-size: cover;
      background-position: center left;
  }
  
  #science {
      background: url(/files/science.jpg);
      background-size: cover;
      background-position: center center;
  }
  
  #graduate {
      background: url(/files/graduate.jpg);
      background-size: cover;
      background-position: center center;
  }
  
  /**Specific to Goals Page**/
  
  .paragraphs-item-paragraph-1-col h3 {
      color:#fff;
      text-transform:uppercase
  }
  
  .paragraphs-item-paragraph-1-col-clean img {
      width:100%;
      margin-bottom:20px;
  }
  
  @media screen and (min-width: 768px) {
  #full-top {
      position: absolute;
      top: 20px;
      right: 0px;
      background: none;
      width: auto;
  }
  
  .row-fluid {
      display:flex;
  }
  
  .pad {
      padding:100px;
  }
  
  h3 {
      font-size:60px!important;
  }
  
  #cover h3 {
      padding-left: 50px!important;
  }
  
  #cover h3::after { 
      left: 50px;
  }
  }